.mainSection {
    margin: 2rem 7vw 2rem 7vw;
}


.mainSection div {
    margin: 1rem 0 1rem 0;
    display: grid;
    place-content: center;
}

.mainSection div img {
    width: auto;
    height: 50vh;
}

